* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: calc(50vw - 5px);  /*instead playing around with grid gap gap */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container div {
    margin: 0 5px 5px 0;  /*instead playing around with grid gap gap */

}


.container {
    counter-reset: test;
}

.container div {
    display: grid;  /* or grid */
    vertical-align: top;
}

.container div:before {
    counter-increment: test;
    margin: initial;/* center me */
    color: yellow;
}
